#logo1{
    position: absolute;
    top: 310px;
    left: 40px;
    width: 186px;
    height: 53px;
    opacity: 1;
}
#r{
    top: 524px;
left: 278px; 
width: 31px;
height: 36px;
background: #002B49 0% 0% no-repeat padding-box;
opacity: 1;
}
#b{
 background-color: #FFFFFF;
 width: 100%;
 height: 100%;  
}
#backParr{
    width: 70%;
    position: absolute;
    height: 100%;
    right: 0%;
    left: 30%;
    top: 0%;
}
#reservAddUser{
    position: absolute; 
    bottom: 2%; 
    width: 330px;
    height: 20px;
    opacity: 1;
    right: 2%;
    opacity: 1;
}
 
#b1addUser{ 
    position: absolute;
    /* border: 1px solid blue; */
    /* top: 20%; */
    /* left: 30%; */
    width: 100%;
    height: 100%;
    /* background-color: #555; */
    /* background: #F8F8F8 0% 0% no-repeat padding-box; */
    /* -webkit-box-shadow: 4px 4px 10px #00000029; */
    -webkit-box-shadow: 1px #00000029;
    box-shadow: 1px #00000029;
    border-radius: 8px;
    opacity: 1; 
}
#create{
    cursor: pointer;
    position: absolute;
    bottom: 7%;
    width: 131px;
    height: 39px;
    opacity: 1;
    left: 40%;
    padding-top: 6px;
    background: #34A098;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
}
#ca{
    position: absolute;
    top: 6%;
    left: 38%;
    width: auto;
    height: 32px;
    /* border: 1px solid red; */
    /* background: transparent url(img/Forgot password.png) 0% 0% no-repeat padding-box; */
    opacity: 1;
}

#form{
    position: absolute;
    /* border: 1px solid blue; */
    top: 15%;
    bottom: 15%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 70%;
    display: -ms-flexbox;
    display: flex;
}
#leftT{
    top: 4%;
    left: 4%;
    width: 50%;
    /* border: 1px solid green; */
    position: relative;
}
#rightT{
    top: 4%;
    left: 4%;
    width: 50%;
    /* border: 1px solid green; */
    position: relative;
}
.fnAU{
    position: relative;
    top: 10%;
    left: 15%;
    width: 195px;
    height: 23px;
    
    opacity: 1;
}
.eAU{
    position: relative;
    top: 15%;
    left: 15%;
    width: 195px;
    height: 23px;
    
    opacity: 1; 
}
.cnAU{
    position: relative;
    top: 20%;
    left: 15%;
    width: 195px;
    height: 23px;
    
    opacity: 1; 
}
#pnImg{
    position: absolute;
    top: 56%;
    left: 16%;
    width: 92px;
    height: 19px;
    opacity: 1;
}
.exAU{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 15%;
    width: 56px;
    height: 22px;
    opacity: 1;
}.pnAU{
    position: relative;
    top: 29%;
    left: 43%;
    width: 127px;
    height: 23px;
    opacity: 1;

}
.lnAU{
    position: relative;
    top: 10%;
    left: 9%;
    width: 195px;
    height: 23px;
    
    opacity: 1;
}
.roleAU{
    position: relative;
    top: 15%;
    left: 9%;
    width: 195px;
    height: 23px;
    
    opacity: 1;
}
#locationAU{
    position: absolute;
    top: 40%;
    left: 9%;
    width: 195px;
    height: 23px;
    opacity: 1;
}
#industryAU{
    position: absolute;
    top: 60%;
    left: 9%;
    width: 195px;
    height: 23px;
    opacity: 1;
}
.errorDiv{
    position: absolute;
    top: 164px;
    left: 39px;
    width: 321px;
    height: 18px;
    /* background: transparent url(img/Group 40.png) 0% 0% no-repeat padding-box; */
    opacity: 1;
    color: red;
    font-weight: 400;
    font-size: 12px;
}