#userMenuCon{ 
    position: absolute;
    top: 8%;
    right: 3%;
    background: transparent url('../menu/Union/Union 1.png') 0% 0% no-repeat padding-box;
    /* border: 1px solid green; */
}

#userMenu{
    position: absolute;
    /* -webkit-box-shadow: 0px 3px 6px #00000029; */
    /* box-shadow: 0px 3px 6px #00000029; */
    /* border: 1px solid #EFEFEF; */
    opacity: 1;
    width: 100%;
    top: -8%;
    right: 2%;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li{ width: 230px;
    height: 54px;
    /* border: 1px solid blanchedalmond; */
}
#logOut{  
    width: 229px; 
    height: 54px;
    background-color: #022B49;
    left: 2%;
    opacity: 1;
    position: absolute;
    padding-left: -4px; 
}  
.addUcontent{  
    color: #5D5D5D;
    font-size: 18px;
    font-family: Helvetica;
    /* padding-left: 30px; */
    padding-top: 20px;
    left: 13%;
    /* padding: 15px 143px 18px 29px; */
    opacity: 100%;
    padding-top: -6px;
    position: absolute;
}
.userOPic{ 
    position: absolute;
    right: 10%; 
    padding-top: 24px;
}
#logoutContent{
   
    font-size: 18px;
    font-family: Helvetica;
    /* padding-left: 30px; */
    padding-top: 12px;
    left: 13%;
    /* padding: 15px 143px 18px 29px; */
    opacity: 100%;
    padding-top: -6px;
    position: absolute;
 color:   #FFFFFF;
}
#logOutPic{ 
    position: absolute;
    right: 10%; 
    padding-top: 16px;
}
li#addUser{
    cursor: pointer;
}
li#addUser:hover{
    cursor: pointer;
    background: darkgray;
    color: #fff;
    margin-left: 8px;
}
li#listUser{
    cursor: pointer;
}
li#listUser:hover{
    cursor: pointer;
    background: darkgray;
    color: #fff;
    margin-left: 8px;
}
li#uploadDoc{
    cursor: pointer;
}
li#uploadDoc:hover{
    cursor: pointer;
    background: darkgray;
    color: #fff;
    margin-left: 8px;
}
li#logOut{
    cursor: pointer;
}